@import "variables";
  /*---------------------
  Shopping Cart
-----------------------*/

.shopping__cart__table {
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray-600;
  width: 100%;

  table {
    width: 100%;

    thead {
      border: 1px solid $gray-600;
      tr {
        
        th {
          
          width: auto;
          color: $visible-catalog;
          font-size: 16px;
          font-weight: auto;
          text-transform: uppercase;
          padding: 10px 30px 10px 30px;
        }
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid $gray-300;

        td { 
         

          &.product__cart__item {
            width: 80%;

            .product__cart__item__pic {
              float: left;
              margin-right: 30px;
              padding: 20px 0px 20px 0px;
            }

            .product__cart__item__text {
              overflow: hidden;
              padding-top: 21px;

              h6 {
                color: $visible-catalog;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
              }

              h5 {
                color: $gray-500;
                font-weight: 700;
              }
            }
          }

          &.quantity__item {
            width: 200px;
            padding: 20px 0px 20px 10px;

            .quantity {

              .quantity_selector
              {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100px;
                height: 100%;
                border: none;
                margin-left: 10px;

                span
                {
                  font-weight: 500;
                  color: $visible-catalog;
                }

                .left 
                  {
                    cursor: pointer;
                  }

                .right
                  {
                    cursor: pointer;
                  }
                
              }
              

              .pro-qty-2 {
               a {
                  
                  width: 50px;
                  border: none;
                  text-align: center;
                  color: $white;
                  font-size: 16px;
                }
                input {
                  
                  width: 50px;
                  border: none;
                  text-align: center;
                  color: black;
                  font-size: 16px;
                }

              }
            }
          }

          &.cart__price {
            color: $visible-catalog;
            font-size: 18px;
            font-weight: 700;
            width: 200px;
            padding: 20px 0px 20px 20px;
          }


          &.cart__close {
            max-width: 200px;
            padding: 20px 0px 20px 50px;
            i {
              font-size: 18px;
              color: black;
              height: 40px;
              width: 40px;
              background: #f3f2ee;
              border-radius: 50%;
              line-height: 40px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
//end shopping....



.continue__btn {
  

  &.update__btn {
    text-align: right;

    a {
      color: $visible-catalog;
      background: $catalogprimary;
      border-color: $visible-catalog;

      i {
        margin-right: 5px;
      }
    }
  }

  a {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid $visible-catalog;
    padding: 14px 35px;
    display: inline-block;
  }
}


.cart__total {
  background: $gray-200;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 35px 40px 40px;
  height: 100%;
  width: 200px;

  
  ul {
    margin-bottom: 25px;

    li {
      list-style: none;
      font-size: 16px;
      color: #444444;
      line-height: 40px;
      overflow: hidden;
      border-color: 1px solid $gray-600;

      span {
        font-weight: 700;
        color: $catalog-dark;
        float: right;
      }
    }
  }

  .primary-btn {
    display: block;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
  }
}

.b-b{
  border-bottom: 1px solid $white !important;
  padding-bottom: 50px;
  
}

