@import "variables";


.text-b{
    color:  $visible-catalog;
}

.checkout{
    padding: 20px;
    background-color: $catalogsecondary;
    border-radius: 2%;
}

.text-g{
    color: $catalog-dark !important;
}

.pd-10{
    padding: 10px;
}

.pb-20{
    padding-bottom: 40px;
}

.mb-3, label{
    color: $gray-600;
}

 input:focus, input[type]:focus {
    border-color: $primarycatalog;
    box-shadow: 0 0 8px $primarycatalog;
    outline: 0 none;
}