@import "variables";

.bg-infoo{
    background-color: $gray-800;
    border-radius: 4%;
}
.text-b{
    color:  $catalog-dark;
}

.checkout{
    padding: 20px;
    background-color: $catalogsecondary;
    border-radius: 2%;
}

.text-g{
    color: $catalog-dark !important;
}

.pd-10{
    padding-top: 10px;
}
.pd-15{
    padding: 15px;
}

.pb-40{
    padding-bottom: 40px;
}

.info-contact{
    color: $gray-500;
}