@import "variables";

/*---------------------
          INDEX
-----------------------*/

.bg-catalog{
   background-color: $catalog-light;
}
.p-30{
    padding: 30px;
}


/* --- CATALOG --- */

.catalog {
	padding-top:0px;
	padding-bottom: 40px;

	
  
	.title1 {
	  padding-top:0px !important;
	  text-align: center;
	  color: $catalogsecondary;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300px;
	  width: auto;
	  font-size: 20px;
	}
  
	.title2 {
      padding-top: 0px !important;
	  padding: 20px;
	  text-align: center;
	  color: $visible-catalog;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300px;
	  font-size: 20px;
	}
  
	.gallery .container-img {
	  margin-bottom: 40px;
	  overflow: hidden;
  
		a {
			background: $catalogprimary;
			border-color: $white !important;
			display: inline-block;
		}
  
		&:hover img {
			opacity: .3;
		}
	}
  }
  
  /* --- END CATALOG--- */

    
/* --- TEXT CARD--- */

.card-text .card-subtitle .card-title{
	text-align: center !important;
}
/* --- END TEXT CARD--- */


/* --- FOOTER--- */
.sectionfooter1 {
	width: 100%;
	height: auto;
	background-color: $catalogprimary;
	color: $catalog-light;
	padding-bottom: 0px;
	
	a{
		color: $white;
	}
	a:hover {
		color: $catalog-dark;
		text-decoration: none !important;
	}
}
.sectionfooter2 {
	width: 100%;
	height: auto;
	background-color: $catalogprimary;
	color: $catalog-light;
	padding-bottom: 5px;
	
	a{
		color: $white;
	}
	a:hover {
		text-decoration: none !important;
		color: $white;

	}
}
.sectionfooter3 {
	width: 100%;
	height: auto;
	color: $visible-catalog;
	background-color: $secondarycatalog;
	padding-top: 20px;

	a{
		color: $visible-catalog;
	}
	a:hover {
		color: $catalogprimary !important;
		text-decoration: none !important;
	}
}
/* ---END FOOTER--- */

.img-add{
	position: relative;
	width: 100%;
 	height: auto;
	.btn-add{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		background: transparent !important;
		img {
			width: 100%;
			height: auto;	
		}
	}
	
}

.card{
	.btn-add{
	visibility: hidden;
	}
} 

@media (max-width: 768px) {
    .card{
		.btn-add-responsive{	
		visibility: visible;
		padding-top: 10px;
		padding-bottom: 10px;	
		}
	} 
}

@media (min-width: 769px) {
    .card{
		.btn-add-responsive{
		visibility: hidden;
		}
	} 
}
	  
.card:hover{
	.btn-add{
	visibility: visible;
	position: absolute !important;
	z-index: 9999 !important;
	
	}
}

.continue__btn:hover{
    color:  $white !important;
}

//EFECTO SCROLL
.navbar-fixed{
	position:fixed !important;
	z-index: 999999999 !important;
	top:0 !important;
	width:100% !important;
	box-shadow:0px 4px 3px rgba(0,0,0,.5) !important;
}

.viewnavbar{
	visibility: hidden !important;
}
.btn{
	background-color: $catalogsecondary;
	border-color: $catalog-visible;
	
}